.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
}

.contact-container p {
    margin-top: 0;
    text-align: center;
}

.contact {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
}

.contact-form,
.contact-info {
    background: #ffffff10;
    padding: 20px;
    border-radius: 12px;
    flex: 1 1 350px;
    min-width: 300px;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form label {
    font-weight: 600;
    font-size: 16px;
}

.contact-form input,
.contact-form textarea {
    background: rgba(214, 214, 214, 0.103);
    border: none;
    padding: 17px 12px;
    border-radius: 8px;
    color: white;
    outline: none;
    font-size: 15px;
}

.send-btn {
    margin-top: 10px;
    background: linear-gradient(90deg, #8e2de2, #4a00e0);
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    color: white;
}

.send-btn:hover {
    /* transform: scale(1.05); */
    box-shadow: 1px 1px 17px #8e2de2;
}

.contact-info h2 {
    color: #a855f7;
    margin-top: 0;
    margin-bottom: 29px;
    font-size: 26px;
}

.info-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: rgba(197, 197, 197, 0.103);
    border: 1px solid #444;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .contact {
        gap: 20px;
        margin: 20px auto;
        flex-wrap: wrap;
    }

    .contact-container {
        margin-left: 38px;
    }

    .contact-form label {
        font-size: 14px;
    }

    .contact-info h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .info-card {
        font-size: 15px;
        padding: 10px;
    }
}