
.main-container {
  width: 100%; /* تاخد عرض الشاشة كله */
  max-width: 100%; /* تمنع أي overflow */
  margin: 0 auto; /* تلغي أي margin زيادة */
}
.all{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}